.balloon6 {
  margin: 10px 0;
  overflow: hidden;
  text-align: left;
}

.name {
  display: inline-block;
  text-align: right;
  width: 60px;
  position: relative;
}

.chatting {
  display: inline-block;
  text-align: left;
}

.says {
  display: inline-block;
  position: relative;
  margin-left: 10px;
  padding: 10px;
  max-width: 250px;
  border-radius: 12px;
  background: #bdf4ff;
}

.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 15px;
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #bdf4ff;
}